<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      Contact Information: <a href="http://edankrolewicz.com/">Edan Krolewicz</a> or you can find him on twitter at <a href="http://twitter.com/EdanKrolewicz"> Edan's Twitter Page</a>
</p>